apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - clusterissuer-letsencrypt-prod.yaml
  - keda-sqs-worker.yaml
  - keda-sqs-webhook-processor.yaml
  - keda-triggerauth-aws.yaml


images:
  - name: notif-api
    newName: ghcr.io/sagarsuperuser/notif-service/notif-api
    newTag: sha-a393b31

  - name: notif-webhook
    newName: ghcr.io/sagarsuperuser/notif-service/notif-webhook
    newTag: sha-a393b31

  - name: notif-webhook-processor
    newName: ghcr.io/sagarsuperuser/notif-service/notif-webhook-processor
    newTag: sha-a393b31

  - name: notif-worker
    newName: ghcr.io/sagarsuperuser/notif-service/notif-worker
    newTag: sha-a393b31

  - name: notif-mock-provider
    newName: ghcr.io/sagarsuperuser/notif-service/notif-mock-provider
    newTag: sha-a393b31
  


patches:
  - path: pullsecret-patch.yaml

replacements:
  - source:
      kind: ConfigMap
      name: notif-config
      fieldPath: data.SQS_QUEUE_URL
    targets:
      - select:
          kind: ScaledObject
          name: notif-worker-sqs
        fieldPaths:
          - spec.triggers.0.metadata.queueURL
  - source:
      kind: ConfigMap
      name: notif-config
      fieldPath: data.WEBHOOK_EVENTS_QUEUE_URL
    targets:
      - select:
          kind: ScaledObject
          name: notif-webhook-processor-sqs
        fieldPaths:
          - spec.triggers.0.metadata.queueURL
